name: Build library

on:
  push:
    branches:
      - master
  pull_request:
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Pull toolchain
        shell: bash
        run: docker pull ewpratten/kolib_toolchain:crosstools

      - name: Build project
        shell: bash
        run: ./compile.sh
